<h1>Botones</h1>

<h2>Botones primarios</h2>

<div class="container">
    <button type="button" class="btn primary ml-0">primary</button>
    <button type="button" class="btn info">info</button>
    <button type="button" class="btn danger">danger</button>
    <button type="button" class="btn success">success</button>
    <button type="button" class="btn default">default</button>
    <button type="button" class="btn neutro">neutro</button>
</div>

<hr />
<br />




<h2>Botones con Acciones</h2>

<div class="container">
    <a class="btn-fill btn-fill__data-bar info-btn" href="javascript:void(0);"
        ng-click="vm.botonDataBar = !vm.botonDataBar">
        <div class="cont-animacion">
            <span></span>
            <i class="ion-ios-arrow-down" ng-class="{'voltea':vm.botonDataBar , '':!vm.botonDataBar}"></i>
        </div>
    </a>

    <a class="btn-fill btn-fill__data-bar info-btn" href="javascript:void(0);"
        ng-click="vm.botonDataBar2 = !vm.botonDataBar2">
        <div class="cont-animacion">
            <span></span>
            <i class="ion-ios-arrow-right" ng-class="{'voltea2':vm.botonDataBar2 , '':!vm.botonDataBar2}"></i>
        </div>
    </a>

    <a class="btn-open-aside" href="javascript:void(0);">
        <i class="ion-ios-arrow-right"></i>
    </a>

    <span class="dropdown seleccion-marca" dropdown on-toggle="toggled(open)">
        <a href class="dropdown-toggle" dropdown-toggle>
            <span><i class="ion-navicon"></i></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="javascript:void(0);"><i class="icon-icon-edit-empty"></i> Editar</a>
            </li>
            <li>
                <a href="javascript:void(0);"><i class="ion-ios-chatbubble-outline"
                        ng-class="{'text-info': dato.notificacion == true}"></i> Comentarios</a>
            </li>
            <li>
                <a href="javascript:void(0);"><i class="icon-icon-clip"></i> Archivos Adjuntos</a>
            </li>
            <li>
                <a href="javascript:void(0);"><i class="ion-ios-download-outline"></i> Descargar Detalle</a>
            </li>
            <li>
                <a href="javascript:void(0);"><i class="ion-clipboard"></i> Ver Bitacora</a>
            </li>
        </ul>
    </span>

    <div class="come-back inline-block" ng-class="{'active':vm.flechaLink , '':!vm.flechaLink}"
        ng-click="vm.flechaLink = !vm.flechaLink">
        <div class="box-back">
            <i class="ion-android-arrow-back"></i>
        </div>
    </div>

</div>

<hr />
<br />

<h2>Botones animados</h2>

<div class="container">
    <div class="row">
        <!-- BOTONES FILL -->
        <div class="col-xs-12">
            <a class="btn-fill success-btn mr-30" href="javascript:void(0);">
                <div class="cont-animacion">
                    <span></span>
                    <i class="ion-ios-plus-empty"></i>
                </div>
                <span class="btn-link">Botón Animado Success</span>
            </a>
    
            <a class="btn-fill info-btn mr-30" href="javascript:void(0);">
                <div class="cont-animacion">
                    <span></span>
                    <i class="ion-ios-plus-empty"></i>
                </div>
                <span class="btn-link">Botón Animado Info</span>
            </a>
    
            <a class="btn-fill warning-btn mr-30" href="javascript:void(0);">
                <div class="cont-animacion">
                    <span></span>
                    <i class="ion-ios-plus-empty"></i>
                </div>
                <span class="btn-link">Botón Animado Warning</span>
            </a>
    
            <a class="btn-fill danger-btn" href="javascript:void(0);">
                <div class="cont-animacion">
                    <span></span>
                    <i class="ion-ios-plus-empty"></i>
                </div>
                <span class="btn-link">Botón Animado Danger</span>
            </a>
        </div>
    
        <br/> <br/>
    
        <!-- BOTONES LINE -->
        <div class="col-xs-12">
            <a class="btn-line success-btn mr-30" href="javascript:void(0);">
                <div class="cont-animacion">
                    <span></span>
                    <i class="ion-ios-plus-empty"></i>
                </div>
                <span class="btn-link">Botón Animado Success</span>
            </a>
    
            <a class="btn-line info-btn mr-30" href="javascript:void(0);">
                <div class="cont-animacion">
                    <span></span>
                    <i class="ion-ios-plus-empty"></i>
                </div>
                <span class="btn-link">Botón Animado Info</span>
            </a>
    
            <a class="btn-line warning-btn mr-30" href="javascript:void(0);">
                <div class="cont-animacion">
                    <span></span>
                    <i class="ion-ios-plus-empty"></i>
                </div>
                <span class="btn-link">Botón Animado Warning</span>
            </a>
    
            <a class="btn-line danger-btn" href="javascript:void(0);">
                <div class="cont-animacion">
                    <span></span>
                    <i class="ion-ios-plus-empty"></i>
                </div>
                <span class="btn-link">Botón Animado Danger</span>
            </a>
        </div>
    </div>
    
</div>